
<% layout("/layouts/boilerplate") -%>
<SCript>
  const mapToken= "<%= process.env.MAP_TOKEN %>";
  const coordinate =<%- JSON.stringify(data.geometry.coordinates) %>;
</SCript>

<body>
  <div class="show-div">
    <!-- Card Section -->
    <div class="card show-card" style="width: 25rem;">
      <img src="<%= data.image.url %>" class="card-img-top" alt="resort">
      <div class="card-body">
        <h5 class="card-title"><%= data.title %></h5>
        <i><p class="card-text"> Owned By: <%= data.owner.username %></p></i>
        <p class="card-text">
          <ul class="show-list">
            <li> <%= data.description %> </li>
            <li> ₹<%= typeof data.price === 'number' ? data.price.toLocaleString("en-IN") : "N/A" %> </li>
            <li> <%= data.location %> </li>
            <li> <%= data.country %> </li>
          </ul>
        </p>
        <% if(currUser && currUser._id.equals(data.owner._id))  { %>
        <div class="show-btn">
          <form method="get" action="/listings/<%= data._id %>/edit"><button class="btn btn-dark">Edit</button></form>
          <form method="post" action="/listings/<%= data._id %>/delete?_method=delete"><button class="btn btn-danger">Delete</button></form>
          <br><br>
        </div>
        <% } %>
        <hr>

        <% if(currUser) { %>
        <form action="/listings/<%= data._id %>/reviews" method="post" class="p-3 border rounded shadow-sm needs-validation" novalidate>
          <h4 class="mb-3 text-primary">Review</h4>
          <div class="mb-2">
            <label for="range" class="form-label">Rating</label>
            <fieldset class="starability-heart">
              <input type="radio" id="no-rate" class="input-no-rate" name="Review[range]" value="0" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="Review[range]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="Review[range]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="Review[range]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="Review[range]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="Review[range]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>

          <div class="mb-3">
            <label for="comment" class="form-label">Your Comment</label>
            <textarea type="text" id="comment" name="Review[comment]" class="form-control col-51 row-21" placeholder="Write your review here" required></textarea>
            <div class="invalid-feedback">
              Please write a review.
            </div>
          </div>
          <button type="submit" class="btn btn-outline-dark w-100">Submit</button>
        </form>
        <hr>
        <% } %>

        <div class="row">
          <% data.reviews.forEach((review, index) => { %>
          <div class="col-md-6 mb-4">
            <div class="card shadow-sm">
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted"><strong>@</strong> <%= review.author.username %></h6>
                <div class="mb-3">
                  <div class="starability-result" data-rating="<%= review.range %>">
                    Rated <%= review.range %> out of 5 stars
                  </div>
                </div>
                <p class="card-text"><%= review.comment %></p>
                <% if(currUser) { %>
                <form action="/listings/<%= data._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
                <% } %>
              </div>
            </div>
          </div>
          <% if ((index + 1) % 2 === 0) { %>
          <div class="row">
          <% } %>
          <% }); %>
        </div>
      </div>
      <div class="col-16 mb-4">
        <h3>Here you will be:</h3>
        <div id="map" style="height: 400px" ></div>
      </div>
      
        
      </div>
    </div>
  </div>

  
 </body>
  